{% extends 'base.html' %}

{% block head%}

{% endblock %}

{% block body%}
<div class="content">    
     <h1 style="text-align: center">Update Task</h1>   
 <div class="mx-auto" style="width: 200px;">
    
 </div>
   <div class="mx-auto" style="width: 200px;">
     <form action="/update/{{task.id}}" method="POST">
         <input type="text" name="content" id="content" value="{{task.content}}">
         <button class="btn btn-outline-success" type="submit" value="update">Add Task</button>
     </form>
    </div>
</div>
{% endblock  %}